@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: #0b1120;
  color: white;
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #283654;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1023px) {
  body {
    overflow: auto;
  }
}
