@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0b1120;
  color: white;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #283654;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
